Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin

feat: add ams card as link design tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/ams-card-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add ams card as link design tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/card-tokens-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add ams card as link design tokens - Voorbeeld (#1168)
  .changeset/card-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add ams card as link design tokens (#1167)
  .changeset/ams-card-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/ams-card-tokens.md
  .changeset/card-tokens-voorbeeld.md
  .changeset/six-paths-speak.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/ams-card-tokens.md
  .changeset/card-tokens-voorbeeld.md
  .changeset/six-paths-speak.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: publish start-thema package to npm
  packages/start-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer

fix: spelling mistake
  README.md
Owners: @nl-design-system/kernteam-maintainer

revert spelling mistake (#1170)
  README.md
Owners: @nl-design-system/kernteam-maintainer

fix identifier
  packages/theme-toolkit/src/component-stories-ams.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: identifier
  packages/theme-toolkit/src/component-stories-ams.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

fix identifier (#1164)
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/gemeente-amsterdam, @nl-design-system/kernteam-maintainer

style: button candidate tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

style: add secondary and subtle tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

fix: token typo
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/candidate-button-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add nl-code & nl-code-block
  package.json
  packages/storybook/config/main.ts
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: create a working version again without the vite config
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: remove unused dependency
  package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

style: add border-color tokens and change reference to general tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

style: change pressed state token values
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

feat: component stories candidate (WIP)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: import css
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: change import syntax
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: add color sample
  package.json
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: data badge toevoegen
  package.json
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: nl-heading-1
  package.json
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: add tsconfig configuration to support css path
  packages/voorbeeld-design-tokens/tsconfig.json
Owners: @nl-design-system/kernteam-maintainer

feat: add all remaining candidate components
  package.json
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: add candidate stories to regression
  package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: sort alphabetically
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

ci: enable npm publishing with OIDC
  .github/workflows/publish.yml
  .npmrc
  package.json
Owners: @nl-design-system/kernteam-maintainer

ci: enable npm publishing with OIDC
  .github/workflows/publish.yml
  .npmrc
  package.json
Owners: @nl-design-system/kernteam-maintainer

style: add default variant
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

style: change purpose default styling
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

docs: update changeset
  .changeset/candidate-button-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

style: button candidate tokens (#1171)
  .changeset/candidate-button-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/candidate-button-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design
