Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

fix: link description bij juiste token
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

fix: link description bij juiste token - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

add changeset
  .changeset/desc-link-update.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

add changeset
  .changeset/desc-link-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

fix: link description bij juiste token (#1135)
  .changeset/desc-link-update.md
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

fix: link description bij juiste token - Voorbeeld (#1136)
  .changeset/desc-link-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/desc-link-update.md
  .changeset/desc-link-voorbeeld.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  .changeset/note-border-voorbeeld.md
  .changeset/note-border-width.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: margin tokens toegevoegd voor meerdere componenten
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

feat: margin tokens toegevoegd voor meerdere componenten
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

add changeset
  .changeset/margin-token-components.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

add changeset
  .changeset/margin-token-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: margin tokens toegevoegd voor meerdere componenten (#1138)
  .changeset/margin-token-components.md
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: margin tokens toegevoegd voor meerdere componenten - Voorbeeld (#1139)
  .changeset/margin-token-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add data list design tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

juiste schrijfwijze doorgevoerd
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

feat: add ma navigation-drawer tokens
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/ma-navigation-drawer.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

add changeset
  .changeset/data-summary-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add data summary design tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

Create data-summary-voorbeeld.md
  .changeset/data-summary-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs: naam zoals deze hoort
  .changeset/data-summary-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add data summary design tokens (#1140)
  .changeset/data-summary-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add data summary design tokens - Voorbeeld (#1142)
  .changeset/data-summary-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

json met design tokens toegevoegd.
  proprietary/leiden-design-tokens/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

feat: json met design tokens toegevoegd voor gemeente leiden (#1144)
  proprietary/leiden-design-tokens/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

style: update ma note tokens
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/ma-note-update.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add header button tokens
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

feat: add ma navigation-drawer tokens (#1141)
  .changeset/ma-navigation-drawer.md
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

style: update ma note tokens (#1145)
  .changeset/ma-note-update.md
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

fix: rename sidenav to side-navigation
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

fix: rename sidenav to side-navigation - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

add changeset
  .changeset/sidenav-to-side-nav.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

Create sidenav-to-side-nav-voorbeeld.md
  .changeset/sidenav-to-side-nav-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs: upgrade to major
  .changeset/sidenav-to-side-nav.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs: upgrade to major - voorbeeld
  .changeset/sidenav-to-side-nav-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

fix: rename sidenav to side-navigation (#1146)
  .changeset/sidenav-to-side-nav.md
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

fix: rename sidenav to side-navigation - Voorbeeld (#1147)
  .changeset/sidenav-to-side-nav-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/data-summary-tokens.md
  .changeset/data-summary-voorbeeld.md
  .changeset/desc-link-update.md
  .changeset/desc-link-voorbeeld.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  .changeset/ma-navigation-drawer.md
  .changeset/ma-note-update.md
  .changeset/margin-token-components.md
  .changeset/margin-token-voorbeeld.md
  .changeset/note-border-voorbeeld.md
  .changeset/note-border-width.md
  .changeset/sidenav-to-side-nav-voorbeeld.md
  .changeset/sidenav-to-side-nav.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages (#1127)
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/data-summary-tokens.md
  .changeset/data-summary-voorbeeld.md
  .changeset/desc-link-update.md
  .changeset/desc-link-voorbeeld.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  .changeset/ma-navigation-drawer.md
  .changeset/ma-note-update.md
  .changeset/margin-token-components.md
  .changeset/margin-token-voorbeeld.md
  .changeset/note-border-voorbeeld.md
  .changeset/note-border-width.md
  .changeset/sidenav-to-side-nav-voorbeeld.md
  .changeset/sidenav-to-side-nav.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin
