Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

docs: add description list to themes and visual regression (#1195)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/description-list/ams-description-list.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

chore: review dot badge documentation and visual regression test
  packages/theme-toolkit/src/ComponentStories.tsx
Owners: @nl-design-system/kernteam-maintainer

test commit
  packages/theme-toolkit/src/ComponentStories.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: add webcomponent initialization
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

docs: add date input to themes and visual regression
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/date-input/ams-date-input.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: add date input to themes and visual regression (#1198)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/date-input/ams-date-input.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: include correct fonts in voorbeeld-design-tokens
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/src/font.js
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

Reorder build scripts in package.json
  proprietary/leiden-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer

Add initial styles for WYSIWYG editor and theme mixin
  proprietary/leiden-design-tokens/src/index.scss
Owners: @nl-design-system/kernteam-maintainer

Removed fontsource
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: sass is seeing a math equation. Added quotes
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

fixed sans-serif
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

font aanpassing Sans Serif -> sans serif
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

sans serif -> sans-serif
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

font spelling errors
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

styling/colors
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Owners: @nl-design-system/gemeente-groningen, @nl-design-system/kernteam-maintainer

added custom tokens for utrecht.document and of.typography
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

fixed double prefix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

test double prefix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

renamed set and merged custom utrecht and of tokens
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

changed structure of custom design tokens per organisation
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

added custom/fa set
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

added max-inline-size custom/utrecht
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

add succes status tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

fix: load missing fonts
  packages/ma-design-tokens/package.json
  packages/ma-design-tokens/src/font.js
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/documentation/components.stories.ts
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/src/font.js
  proprietary/nijmegen-design-tokens/package.json
  proprietary/nijmegen-design-tokens/src/font.js
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-nijmegen

fix: load missing fonts
  packages/ma-design-tokens/package.json
  packages/ma-design-tokens/src/font.js
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/documentation/components.stories.ts
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/src/font.js
  proprietary/nijmegen-design-tokens/package.json
  proprietary/nijmegen-design-tokens/src/font.js
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-nijmegen

fix: include correct fonts in voorbeeld-design-tokens
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/src/font.js
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

Header tokens Utrecht & OF added
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

changed bg colors for page and pagecontent
  proprietary/leiden-design-tokens/src/index.scss
Owners: @nl-design-system/kernteam-maintainer

Header BG fix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

header-color fix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

change header bg color
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

docs(release): design system packages (#1200)
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

added custom css
  proprietary/leiden-design-tokens/src/index.scss
Owners: @nl-design-system/kernteam-maintainer

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Owners: @nl-design-system/kernteam-maintainer

chore: include preprocessor functions from root config
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/style-dictionary.mjs
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

chore: include preprocessor functions from root config (#1203)
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/style-dictionary.mjs
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: add voorne aan zee organisatie
  .changeset/swift-geckos-lie.md
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/voorne-aan-zee-design-tokens/LICENSE.md
  proprietary/voorne-aan-zee-design-tokens/README.md
  proprietary/voorne-aan-zee-design-tokens/documentation/color.mdx
  proprietary/voorne-aan-zee-design-tokens/documentation/component-tokens.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/components.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/design-tokens.mdx
  proprietary/voorne-aan-zee-design-tokens/documentation/readme.mdx
  proprietary/voorne-aan-zee-design-tokens/figma/voorne-aan-zee.tokens.json
  proprietary/voorne-aan-zee-design-tokens/package.json
  proprietary/voorne-aan-zee-design-tokens/src/config.json
  proprietary/voorne-aan-zee-design-tokens/src/font.js
  proprietary/voorne-aan-zee-design-tokens/src/font.scss
  proprietary/voorne-aan-zee-design-tokens/src/tokens.json
  proprietary/voorne-aan-zee-design-tokens/style-dictionary.mjs
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin
