Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin

docs(release): design system packages
  .changeset/candidate-button-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

style: button candidate tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/candidate-button-tokens-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

style: button candidate tokens - Voorbeeld (#1176)
  .changeset/candidate-button-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/candidate-button-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages (#1177)
  .changeset/candidate-button-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

fix: use start-theme instead of basis-theme
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

Kleuraanpassingen voor primairy colors
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

Link list: default underlined
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

fix: improve link and tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

chore(tokens): sync with NL Design System v4.1.1
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

chore: remove spaces
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

chore: remove unnecessary option
  .github/workflows/publish.yml
Owners: @nl-design-system/kernteam-maintainer

fix: build error in json
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

chore: remove unnecessary option
  .github/workflows/publish.yml
Owners: @nl-design-system/kernteam-maintainer

style: change note bg and border-color
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

fix: common focus colors
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/ma-sync-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

chore(tokens): sync with NL Design System v4.1.1 (#1181)
  .changeset/ma-sync-tokens.md
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/ma-sync-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages (#1182)
  .changeset/ma-sync-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: data badge toevoegen
  package.json
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: add all remaining candidate components
  package.json
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: add nl-code & nl-code-block
  package.json
  packages/storybook/config/main.ts
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: import css
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: add tsconfig configuration to support css path
  packages/voorbeeld-design-tokens/tsconfig.json
Owners: @nl-design-system/kernteam-maintainer

feat: change import syntax
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

Apply suggestions from code review
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: remove unused dependency
  package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: nl-heading-1
  package.json
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: use start-theme instead of basis-theme
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: add color sample
  package.json
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: create a working version again without the vite config
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: consistent casing with website
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/ams-breadcrumb.stories.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/utrecht-breadcrumb-nav.stories.tsx
  packages/voorbeeld-design-tokens/documentation/form-field/utrecht-form-field.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-group/utrecht-heading-group.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/utrecht-badge-counter.stories.tsx
  packages/voorbeeld-design-tokens/documentation/ordered-list/utrecht-ordered-list.stories.tsx
  packages/voorbeeld-design-tokens/documentation/radio-button/utrecht-radio-button.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/utrecht-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/status-badge/utrecht-badge-status.stories.tsx
  packages/voorbeeld-design-tokens/documentation/text-input/utrecht-textbox.stories.tsx
  packages/voorbeeld-design-tokens/documentation/unordered-list/utrecht-unordered-list.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: consistent casing with website (#1183)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/ams-breadcrumb.stories.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/utrecht-breadcrumb-nav.stories.tsx
  packages/voorbeeld-design-tokens/documentation/form-field/utrecht-form-field.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-group/utrecht-heading-group.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/utrecht-badge-counter.stories.tsx
  packages/voorbeeld-design-tokens/documentation/ordered-list/utrecht-ordered-list.stories.tsx
  packages/voorbeeld-design-tokens/documentation/radio-button/utrecht-radio-button.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/utrecht-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/status-badge/utrecht-badge-status.stories.tsx
  packages/voorbeeld-design-tokens/documentation/text-input/utrecht-textbox.stories.tsx
  packages/voorbeeld-design-tokens/documentation/unordered-list/utrecht-unordered-list.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: parameters actions disabled
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

chore(deps): update dependencies and add new packages
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

update style-dictionary command and bump version to 5.1.1
  proprietary/leiden-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer

feat: implement themeJsonFormatter for processing theme JSON files and resolving token references
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Owners: @nl-design-system/kernteam-maintainer

feat: add style-dictionary configuration with theme JSON support and color scheme preprocessors
  proprietary/leiden-design-tokens/src/wordpress/settings.json
  proprietary/leiden-design-tokens/src/wordpress/styles.json
  proprietary/leiden-design-tokens/src/wordpress/templateParts.json
  proprietary/leiden-design-tokens/style-dictionary.mjs
Owners: @nl-design-system/kernteam-maintainer
