Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin

chore: remove unused table.tokens.json file
  proprietary/leiden-design-tokens/src/component/utrecht/extra-tokens/table.tokens.json
Owners: @nl-design-system/kernteam-maintainer

feat: update source paths in style-dictionary configuration for token files
  proprietary/leiden-design-tokens/style-dictionary.config.js
Owners: @nl-design-system/kernteam-maintainer

Add NL Design System candidate components to themes repository (#1172)
  package.json
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/tsconfig.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: component stories candidate (WIP)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

fix: improve link and tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: sort alphabetically
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: add candidate stories to regression
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: add more tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: edit links & tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

Shortened text & added lead to lead variant
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: correct color token references in ColorSearch and ColorTable components
  proprietary/leiden-design-tokens/documentation/color.mdx
Owners: @nl-design-system/kernteam-maintainer

fix: update import for leiden design tokens to use theme.css
  packages/storybook/config/preview.ts
Owners: @nl-design-system/kernteam-maintainer

feat: add tokens-lib as a workspace dependency in package.json and pnpm-lock.yaml
  pnpm-lock.yaml
  proprietary/leiden-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer

fix: ensure backwards compatibility in StyleDictionary configuration
  proprietary/leiden-design-tokens/style-dictionary.mjs
Owners: @nl-design-system/kernteam-maintainer

feat: add Open Sans font imports to font.js
  proprietary/leiden-design-tokens/src/font.js
Owners: @nl-design-system/kernteam-maintainer

feat: implement dynamic color palette generation from design tokens for WordPress
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Owners: @nl-design-system/kernteam-maintainer

fix: clear color palette in settings.json for WordPress theme
  proprietary/leiden-design-tokens/src/wordpress/settings.json
Owners: @nl-design-system/kernteam-maintainer

feat: restructure WordPress theme configuration by adding new JSON files and merging styles
  proprietary/leiden-design-tokens/src/wordpress/base.json
  proprietary/leiden-design-tokens/src/wordpress/settings.json
  proprietary/leiden-design-tokens/src/wordpress/settings/color.json
  proprietary/leiden-design-tokens/src/wordpress/settings/custom.json
  proprietary/leiden-design-tokens/src/wordpress/settings/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/settings/layout.json
  proprietary/leiden-design-tokens/src/wordpress/settings/lightbox.json
  proprietary/leiden-design-tokens/src/wordpress/settings/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/settings/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/settings/typography.json
  proprietary/leiden-design-tokens/src/wordpress/styles.json
  proprietary/leiden-design-tokens/src/wordpress/styles/root.json
  proprietary/leiden-design-tokens/src/wordpress/templateParts.json
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Owners: @nl-design-system/kernteam-maintainer

First draft for Candidate Text Input tokens
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

Checkbox and radiobutton selected colors change
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

fix: remove target="_new"
  packages/theme-toolkit/src/component-stories-candidate.tsx
Owners: @nl-design-system/kernteam-maintainer

gap adjustment
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

feat: add candidate stories to regression (#1173)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

style: status badge tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

none naar None
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

Fixed error for pagination subtle color
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

test: modal-dialog-visual-regression
  packages/theme-toolkit/src/component-stories-ams.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: add modal dialog to amsterdam visual regression test overview
  packages/theme-toolkit/src/component-stories-ams.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

chore: review dot badge documentation and visual regression test
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

docs: add modal dialog to amsterdam visual regression test overview (#1190)
  packages/theme-toolkit/src/component-stories-ams.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

docs: add avatar story
  packages/voorbeeld-design-tokens/documentation/avatar/ams-avatar.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: add avatar to ams component stories
  packages/theme-toolkit/src/component-stories-ams.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

docs: add avatar to themes and visual regression (#1192)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/voorbeeld-design-tokens/documentation/avatar/ams-avatar.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

fix: remove font import boyscout as we dont actually use this and its causing regression errors
  packages/storybook/config/preview.ts
  packages/storybook/package.json
Owners: @nl-design-system/kernteam-maintainer

docs: add form summary story
  packages/voorbeeld-design-tokens/documentation/form-summary/utrecht-form-summary.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: add form summary to utrecht component stories
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/form-summary/utrecht-form-summary.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

chore: update lockfile
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

docs: add description list to themes and visual regression
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/description-list/ams-description-list.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

revert lock changes
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

docs: add form summary to themes and visual regression (#1194)
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/form-summary/utrecht-form-summary.stories.tsx
Owners: @nl-design-system/kernteam-maintainer
