Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin

chore: remove unused file
  .changeset/kind-mangos-pay.md
  proprietary/zaanstad-design-tokens/style-dictionary.config.js
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

chore: remove unused file (#1204)
  .changeset/kind-mangos-pay.md
  proprietary/zaanstad-design-tokens/style-dictionary.config.js
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

style: aanvullende design tokens voor todo case card
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

focus-visible verstekeling
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

style: aanvullende design tokens voor todo case card - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

add changeset
  .changeset/case-card-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

add changeset
  .changeset/case-card-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

add changeset
  .changeset/status-badge-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

Added margin-block-end to body.utrecht-page.
  proprietary/leiden-design-tokens/src/index.scss
Owners: @nl-design-system/kernteam-maintainer

Added margin-block-start 0 to body.utrecht-page
  proprietary/leiden-design-tokens/src/index.scss
Owners: @nl-design-system/kernteam-maintainer

.
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

First OF config
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

archived token name change
  packages/start-design-tokens/figma/start.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer

update changeset
  .changeset/case-card-tokens.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

update changeset
  .changeset/case-card-voorbeeld.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

update archived token name position
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Owners: @nl-design-system/kernteam-design, @nl-design-system/kernteam-maintainer
