Repository nl-design-system/themes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design, @nl-design-system/gemeente-amsterdam, @nl-design-system/gemeente-bodegraven-reeuwijk, @nl-design-system/gemeente-borne, @nl-design-system/gemeente-buren, @nl-design-system/gemeente-drechterland, @nl-design-system/gemeente-duiven, @nl-design-system/gemeente-enkhuizen, @nl-design-system/gemeente-groningen, @nl-design-system/gemeente-haarlem, @nl-design-system/gemeente-hoorn, @nl-design-system/gemeente-horst-aan-de-maas, @nl-design-system/gemeente-leidschendam-voorburg, @nl-design-system/gemeente-nijmegen, @nl-design-system/gemeente-noordoostpolder, @nl-design-system/provincie-zuid-holland, @nl-design-system/rid-de-liemers, @nl-design-system/gemeente-stedebroec, @nl-design-system/gemeente-tilburg, @nl-design-system/gemeente-venray, @nl-design-system/gemeente-vught, @nl-design-system/gemeente-westervoort, @nl-design-system/gemeente-zaanstad, @nl-design-system/gemeente-zevenaar, @nl-design-system/gemeente-zwolle, @nl-design-system/kernteam-admin

.github/CODEOWNERS:

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Changes to any file require approval from @nl-design-system/kernteam-maintainer
* @nl-design-system/kernteam-maintainer
/.changeset/ @nl-design-system/kernteam-maintainer @nl-design-system/kernteam-design

/proprietary/amsterdam-design-tokens/src/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/documentation/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/amsterdam-design-tokens/figma/ @nl-design-system/gemeente-amsterdam @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/src/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/bodegraven-reeuwijk-design-tokens/documentation/ @nl-design-system/gemeente-bodegraven-reeuwijk @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/src/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/borne-design-tokens/documentation/ @nl-design-system/gemeente-borne @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/src/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/buren-design-tokens/documentation/ @nl-design-system/gemeente-buren @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/src/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/drechterland-design-tokens/documentation/ @nl-design-system/gemeente-drechterland @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/src/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/duiven-design-tokens/documentation/ @nl-design-system/gemeente-duiven @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/src/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/enkhuizen-design-tokens/documentation/ @nl-design-system/gemeente-enkhuizen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/src/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/documentation/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/groningen-design-tokens/figma/ @nl-design-system/gemeente-groningen @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/src/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/haarlem-design-tokens/documentation/ @nl-design-system/gemeente-haarlem @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/src/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/hoorn-design-tokens/documentation/ @nl-design-system/gemeente-hoorn @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/src/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/horstaandemaas-design-tokens/documentation/ @nl-design-system/gemeente-horst-aan-de-maas @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/src/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/leidschendam-voorburg-design-tokens/documentation/ @nl-design-system/gemeente-leidschendam-voorburg @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/src/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/nijmegen-design-tokens/documentation/ @nl-design-system/gemeente-nijmegen @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/src/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/noordoostpolder-design-tokens/documentation/ @nl-design-system/gemeente-noordoostpolder @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/src/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/provincie-zuid-holland-design-tokens/documentation/ @nl-design-system/provincie-zuid-holland @nl-design-system/kernteam-maintainer
/proprietary/riddeliemers-design-tokens/src/ @nl-design-system/rid-de-liemers @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/src/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/stedebroec-design-tokens/documentation/ @nl-design-system/gemeente-stedebroec @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/src/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/tilburg-design-tokens/documentation/ @nl-design-system/gemeente-tilburg @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/src/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/venray-design-tokens/documentation/ @nl-design-system/gemeente-venray @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/src/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/vught-design-tokens/documentation/ @nl-design-system/gemeente-vught @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/src/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/westervoort-design-tokens/documentation/ @nl-design-system/gemeente-westervoort @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/src/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zaanstad-design-tokens/documentation/ @nl-design-system/gemeente-zaanstad @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/src/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zevenaar-design-tokens/documentation/ @nl-design-system/gemeente-zevenaar @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/src/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer
/proprietary/zwolle-design-tokens/documentation/ @nl-design-system/gemeente-zwolle @nl-design-system/kernteam-maintainer

# Changes to tokens managed by Tokens Studio in Figma can be approved by @nl-design-system/kernteam-design or
# @nl-design0system/kernteam-maintainer
/packages/**/figma/*.tokens.json @nl-design-system/kernteam-design @nl-design-system/kernteam-maintainer

# Changes to this file (.github/CODEOWNERS) require approval from @nl-design-system/kernteam-admin
.github/CODEOWNERS @nl-design-system/kernteam-admin

feat: add community data-summary tokens
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/sunshine-rain-thunder.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

feat: add data-summary tokens - MA (#1148)
  .changeset/sunshine-rain-thunder.md
  packages/ma-design-tokens/src/tokens.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages
  .changeset/sunshine-rain-thunder.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

docs(release): design system packages (#1149)
  .changeset/sunshine-rain-thunder.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

Eerste aanpassingen huisstijl
  proprietary/leiden-design-tokens/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

Create test
  proprietary/leiden-design-tokens/figma/test
Owners: @nl-design-system/kernteam-maintainer

fix: linting
  proprietary/leiden-design-tokens/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

Rename proprietary/leiden-design-tokens/leiden.tokens.json to proprietary/leiden-design-tokens/figma/leiden.tokens.json
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

Eerste aanpassingen huisstijl (#1155)
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

docs: add lux login link
  .changeset/red-grapes-travel.md
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-lux.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/login-link/lux-login-link.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

chore: add denhaag-description-list as a dependency
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

feat: Add DATA_SUMMARY as STORY_GROUP
  packages/theme-toolkit/src/component-stories-util.ts
Owners: @nl-design-system/kernteam-maintainer

feat: Add Data Summary story
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/data-summary/denhaag-description-list.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: component image
  packages/voorbeeld-design-tokens/documentation/assets/images/stadskantoor.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: component image
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/assets/images/photo-nijntje-vuelta.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: add amsterdam alert dialog
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/alert-dialog/ams-alert-dialog.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: component image
  packages/voorbeeld-design-tokens/documentation/assets/images/stadskantoor.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: use correct props for utrecht image
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Owners: @nl-design-system/kernteam-maintainer

docs(readme): fix spelling (organisations) and possessive grammar
  README.md
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: update component image (#1159)
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/assets/images/photo-nijntje-vuelta.jpg
  packages/voorbeeld-design-tokens/documentation/assets/images/stadskantoor.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

fix: amsterdam has modal dialog not alert dialog
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/modal-dialog/ams-modal-dialog.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

docs(readme): fix spelling (organisations) and possessive grammar (#1161)
  README.md
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
Owners: @nl-design-system/kernteam-maintainer

docs: add amsterdam modal dialog (#1160)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/modal-dialog/ams-modal-dialog.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: add page-number-navigation stories
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/page-number-navigation/utrecht-page-number-navigation.stories.tsx
  packages/voorbeeld-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer

Add Page number navigation stories (#1162)
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/page-number-navigation/utrecht-page-number-navigation.stories.tsx
  packages/voorbeeld-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer

feat: add card as link stories
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

Apply suggestions from code review
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
Owners: @nl-design-system/kernteam-maintainer

feat: PR feedback
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

feat: add card as link stories (#1163)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/gemeente-amsterdam

fix identifier
  packages/theme-toolkit/src/component-stories-ams.tsx
Owners: @nl-design-system/kernteam-maintainer

Aanpassingen: - Font - Border radius
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Owners: @nl-design-system/kernteam-maintainer

build(deps): update to npm-check-updates@19.0.0
  package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.cjs
Owners: @nl-design-system/kernteam-maintainer

build: add a note to keep minimumReleaseAge in sync with ncu cooldown
  pnpm-workspace.yaml
Owners: @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/six-paths-speak.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design

build(deps): update to npm-check-updates@19.0.0
  package.json
  pnpm-lock.yaml
Owners: @nl-design-system/kernteam-maintainer

build: add a note to keep minimumReleaseAge in sync with ncu cooldown
  pnpm-workspace.yaml
Owners: @nl-design-system/kernteam-maintainer

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.cjs
Owners: @nl-design-system/kernteam-maintainer

docs: add changeset
  .changeset/six-paths-speak.md
Owners: @nl-design-system/kernteam-maintainer, @nl-design-system/kernteam-design
